body{
    background-color: yellowgreen;
}
div#kompass {
  
 width: 313px;
 height: 313px;
 margin: Auto;
 background: url("img/kompass.webp"), url("img/strandstuhl.png");
 border-radius: 100%;
 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
}

div#nadel {

 width: 313px;
 height: 313px;
 margin: Auto;
 background-image: url("img/nadel.webp");
 filter: drop-shadow(0px 0px 5px rgba(70, 70, 70,0.8));
 margin-top: -313px;
 /*animation: Nadel 3.8s ease-in-out infinite alternate;*/
}

div#nadel:hover {
 animation-play-state: paused;
}

div#start-btn {
    margin-bottom: auto;
}

@keyframes Nadel {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(360deg);
 }
}